<section class="section section-africa">
    <div class="container">
        <h2 class="section_title">{{= section_6_subtitle }}</h2>
        <div class="section_map" id="section_map-africa">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}{{= section_6_map_image_path_480 }}?v={{= version }}" alt="{{= section_6_map_alt }}">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}{{= section_6_map_image_path_624 }}?v={{= version }}" alt="{{= section_6_map_alt }}">
        </div>

        <p>{{= section_6_paragraph_map }}</p>

        <div class="section_quote section_quote-right section_quote-green" id="section_quote-africa">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/8_africa/0-599_profile_africa.png?v={{= version }}" alt="">
            </div>
            <blockquote>
                {{= section_6_blockquote }}
                <cite>{{= section_6_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_6_paragraph_quote }}</p>

        <p>{{= section_6_paragraph_video }}</p>

        <h3 class="section_summary section_summary-green">{{= section_6_summary }}</h3>
    </div>
</section>