<section class="section section-africa">
    <div class="container">
        <h2 class="section_title">{{= section_6_subtitle }}</h2>
        <div class="section_map">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/8_africa/africa_map_480.png" alt="">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/8_africa/africa_map_624.png" alt="">
        </div>

        <p>{{= section_6_paragraph_map }}</p>

        <div class="section_quote section_quote-right section_quote-green">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/8_africa/0-599_profile_africa.png" alt="">
            </div>
            <blockquote>
                {{= section_6_blockquote }}
                <cite>{{= section_6_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_6_paragraph_quote }}</p>

        <div class="story-media-small" id="story-media-6-container"></div>

        <p>{{= section_6_paragraph_video }}</p>

        <h3 class="section_summary section_summary-green">{{= section_6_summary }}</h3>
    </div>
</section>