<section class="section section-asia">
    <div class="container">
        <h2 class="section_title">{{= section_3_subtitle }}</h2>
        <img src="http://placehold.it/616x350">

        <p>{{= section_3_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-pink">
            <div class="section_quote_profilephoto"></div>
            <blockquote>
                {{= section_3_blockquote }}
                <cite>{{= section_3_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_3_paragraph_quote }}</p>

        <!-- video -->

        <p>{{= section_3_paragraph_video }}</p>

        <h2>{{= section_3_summary }}</h2>
    </div>
</section>