<section class="section section-asia">
    <div class="container">
        <h2 class="section_title">{{= section_3_subtitle }}</h2>
        <div class="section_map">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/4_asia/asia_map_480.png" alt="">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/4_asia/asia_map_624.png" alt="">
        </div>

        <p>{{= section_3_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-pink">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/4_asia/0-599_profile_asia.png" alt="">
                <img class="section_quote_profilephoto_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/4_asia/shruti_nitin.jpg" alt="">
            </div>
            <blockquote>
                {{= section_3_blockquote }}
                <cite>{{= section_3_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_3_paragraph_quote }}</p>

        <div class="story-media-small" id="story-media-3-faux-container"></div>
        <div class="story-media-small hidden" id="story-media-3-container"></div>
        <div class="story-media-placeholder" id="story-media-3-placeholder">
            <div class="story-media-video-overlay">
                <button class="story-media-play-button"></button>
                <div class="story-media-title">{{= section_3_video_title }}
                    <div class="story-media-subtitle">{{= section_3_video_subtitle }}</div>
                </div>
            </div>
        </div>

        <p>{{= section_3_paragraph_video }}</p>

        <h3 class="section_summary section_summary-pink">{{= section_3_summary }}</h3>
    </div>
</section>