<section class="section section-datatable">
    <div class="container">
        <table class="datatable datatable-left">
            <thead>
                <tr>
                    <th>{{= table_heading_country }}</th>
                    <th>{{= table_heading_top_dating_app }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="datatable_country">{{= argentina }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
            </tbody>
        </table>

        <table class="datatable datatable-right">
            <thead>
                <tr>
                    <th>{{= table_heading_country }}</th>
                    <th>{{= table_heading_top_dating_app }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="datatable_country">{{= kenya }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
    </div>
</section>