<section class="section section-datatable">
    <div class="container">
        <h2 class="chart_title">{{= table_title }}</h2>
        <table class="datatable datatable-left">
            <thead>
                <tr>
                    <th>{{= table_heading_country }}</th>
                    <th>{{= table_heading_top_dating_app }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="datatable_country">{{= argentina }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= australia }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= austria }}</td>
                    <td class="datatable_app">{{= lovoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= belgium }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= brazil }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= bulgaria }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= canada }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= chile }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= china }}</td>
                    <td class="datatable_app">{{= momo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= colombia }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= czech_republic }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= denmark }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= egypt }}</td>
                    <td class="datatable_app">{{= frim }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= finland }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= france }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= germany }}</td>
                    <td class="datatable_app">{{= lovoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= greece }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= hungary }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= india }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= indonesia }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= ireland }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= israel }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= italy }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= japan }}</td>
                    <td class="datatable_app">{{= yyc }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= kenya }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= kuwait }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
            </tbody>
        </table>

        <table class="datatable datatable-right">
            <thead>
                <tr>
                    <th>{{= table_heading_country }}</th>
                    <th>{{= table_heading_top_dating_app }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="datatable_country">{{= malaysia }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= mexico }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= netherlands }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= new_zealand }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= nigeria }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= norway }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= philippines }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= poland }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= portugal }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= romania }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= russia }}</td>
                    <td class="datatable_app">{{= frim }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= saudi_arabia }}</td>
                    <td class="datatable_app">{{= whoshere }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= singapore }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= south_africa }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= south_korea }}</td>
                    <td class="datatable_app">{{= heartbeep }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= spain }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= sweden }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= switzerland }}</td>
                    <td class="datatable_app">{{= lovoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= taiwan }}</td>
                    <td class="datatable_app">{{= ipair_meet_your_match }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= thailand }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= turkey }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= ukraine }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= uae }}</td>
                    <td class="datatable_app">{{= badoo }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= uk }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= usa }}</td>
                    <td class="datatable_app">{{= tinder }}</td>
                </tr>
                <tr>
                    <td class="datatable_country">{{= vietnam }}</td>
                    <td class="datatable_app">{{= paktor }}</td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
    </div>
</section>
