<section class="section section-europe">
    <div class="container">
        <h2 class="section_title">{{= section_2_subtitle }}</h2>
        <div class="section_map">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/3_europe/europe_map_480.png" alt="">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/3_europe/europe_map_624.png" alt="">
        </div>

        <p>{{= section_2_paragraph_map }}</p>

        <div class="section_quote section_quote-right section_quote-red">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/3_europe/0-599_profile_europe.png" alt="">
                <img class="section_quote_profilephoto_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/3_europe/andy.jpg" alt="">
            </div>
            <blockquote>
                {{= section_2_blockquote }}
                <cite>{{= section_2_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_2_paragraph_quote }}</p>

        <div class="story-media-small" id="story-media-2-faux-container"></div>
        <div class="story-media-small hidden" id="story-media-2-container"></div>
        <div class="story-media-placeholder" id="story-media-2-placeholder">
            <div class="story-media-video-overlay">
                <button class="story-media-play-button"></button>
                <div class="story-media-title">{{= section_2_video_title }}
                    <div class="story-media-subtitle">{{= section_2_video_subtitle }}</div>
                </div>
            </div>
        </div>

        <p>{{= section_2_paragraph_video }}</p>

        <h3 class="section_summary section_summary-red">{{= section_2_summary }}</h3>
    </div>
</section>