<section class="section section-europe">
    <div class="container">
        <h2 class="section_title">{{= section_2_subtitle }}</h2>
        <img src="http://placehold.it/616x350">

        <p>{{= section_2_paragraph_map }}</p>

        <div class="section_quote section_quote-right section_quote-red">
            <div class="section_quote_profilephoto"></div>
            <blockquote>
                {{= section_2_blockquote }}
                <cite>{{= section_2_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_2_paragraph_quote }}</p>

        <!-- video -->

        <p>{{= section_2_paragraph_video }}</p>

        <h2>{{= section_2_summary }}</h2>
    </div>
</section>