<section class="hero">
    <div class="container">
        <div class="hero_content">
            <h1 class="hero_title">{{= hero_title }}</h1>
            <p class="hero_subtitle">{{= hero_subtitle }}</p>
        </div>
    </div>
</section>

<section class="section section-intro">
    <div class="container">
        <div class="story_meta">
            <ul class="story_meta_list">
                <!--<li class="story_meta_list_item story_meta_list_item-timestamp"><time class="date">{{= timestamp }}</time></li>
                <li class="story_meta_list_item story_meta_list_item-topic"><a href="{{= topic_link }}">{{= topic_label }}</a></li>-->
                <li class="story_meta_list_item story_meta_list_item-timestamp"><time class="date">2016-02-14</time></li>
                <li class="story_meta_list_item story_meta_list_item-topic"><a href="#">News</a></li>
            </ul>
        </div>

        <p>{{= section_1_intro_paragraph }}</p>
        
        <div class="worldmap">
            <p class="worldmap_title">{{= section_1_map_title }}</p>
            <img class="worldmap_map" src="{{= pathStatic }}/{{= vocab_dir }}/img/world_map_624.png" alt="{{= section_1_map_alt }}">
        </div>

        <div class="app-popularity-chart">
            <div class="app-popularity-chart_bar app-popularity-chart_bar-1">
                <div class="app-popularity-chart_bar_label">{{= app_popularity_chart_bar_label_1 }}</div>
                <div class="app-popularity-chart_bar_value">
                    <span>{{= app_popularity_chart_bar_value_1 }}</span>
                </div>
            </div>
            <div class="app-popularity-chart_bar app-popularity-chart_bar-2">
                <div class="app-popularity-chart_bar_label">{{= app_popularity_chart_bar_label_2 }}</div>
                <div class="app-popularity-chart_bar_value">
                    <span>{{= app_popularity_chart_bar_value_2 }}</span>
                </div>
            </div>
            <div class="app-popularity-chart_bar app-popularity-chart_bar-3">
                <div class="app-popularity-chart_bar_label">{{= app_popularity_chart_bar_label_3 }}</div>
                <div class="app-popularity-chart_bar_value">
                    <span>{{= app_popularity_chart_bar_value_3 }}</span>
                </div>
            </div>
        </div>

        <p>{{= section_1_paragraph_map }}</p>
    </div>
</section>