{{= include('includes/add_css.js.tmpl') }}
{{= include('includes/newsBanner_en-GB.tmpl') }}
<!--[if lt IE 9]>
<div class="browser-notify">
    <div class="browser-notify__banner">
        <div class="browser-notify__icon"></div>
        <span>This site is optimised for modern web browsers, and does not fully support your version of Internet Explorer</span>
    </div>
</div>
<![endif]-->

<style>
{{= include("../scss/news_special/loading.css") }}
</style>

<div class="main ns_{{= languageConfig.languageLookup[vocab_dir].direction }} locale_{{= languageConfig.languageLookup[vocab_dir].code }}" data-locale="{{= languageConfig.languageLookup[vocab_dir].code }}">
	<div id="loading-spinner" class="bbc-news-visual-journalism-loading-spinner"></div>

	{{= include("./hero_intro.tmpl") }}
    {{= include("./europe.tmpl") }}
    {{= include("./asia.tmpl") }}
    {{= include("./middleeast.tmpl") }}
    {{= include("./southamerica.tmpl") }}
    {{= include("./africa.tmpl") }}
    {{= include("./northamerica.tmpl") }}
    {{= include("./data_table.tmpl") }}
    {{= include("./creditsShareAndMore.tmpl") }}
</div>

{{= include("./includes/inline.js.tmpl") }}
