<section class="section section-northamerica">
    <div class="container">
        <h2 class="section_title">{{= section_7_subtitle }}</h2>
        <div class="section_map">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/north_america_map_480.png" alt="">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/north_america_map_624.png" alt="">
        </div>

        <p>{{= section_7_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-teal">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/0_599_profile_north_america.jpg" alt="">
                <img class="section_quote_profilephoto_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/whitney.jpg" alt="">
            </div>
            <blockquote>
                {{= section_7_blockquote }}
                <cite>{{= section_7_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_7_paragraph_quote }}</p>

        <!-- video -->

        <p>{{= section_7_paragraph_video }}</p>

        <h3 class="section_summary section_summary-teal">{{= section_7_summary }}</h3>
    </div>
</section>