<section class="section section-northamerica">
    <div class="container">
        <h2 class="section_title">{{= section_7_subtitle }}</h2>
        <div class="section_map" id="section_map-northamerica">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}{{= section_7_map_image_path_480 }}" alt="{{= section_7_map_alt }}">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}{{= section_7_map_image_path_624 }}" alt="{{= section_7_map_alt }}">
        </div>

        <p>{{= section_7_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-teal" id="section_quote-northamerica">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/0_599_profile_north_america.jpg" alt="">
                <img class="section_quote_profilephoto_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/7_north_america/whitney.jpg" alt="">
            </div>
            <blockquote>
                {{= section_7_blockquote }}
                <cite>{{= section_7_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_7_paragraph_quote }}</p>

        <div class="story-media-small" id="story-media-7-faux-container"></div>
        <div class="story-media-small hidden" id="story-media-7-container"></div>
        <div class="story-media-placeholder" id="story-media-7-placeholder">
            <div class="story-media-video-overlay">
                <button class="story-media-play-button"></button>
                <div class="story-media-title">{{= section_7_video_title }}
                    <div class="story-media-subtitle">{{= section_7_video_subtitle }}</div>
                </div>
            </div>
        </div>

        <p>{{= section_7_paragraph_video }}</p>

        <h3 class="section_summary section_summary-teal">{{= section_7_summary }}</h3>
    </div>
</section>