<section class="section section-southamerica">
    <div class="container">
        <h2 class="section_title">{{= section_5_subtitle }}</h2>
        <div class="section_map">
            <img class="section_map_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/6_south_america/south_america_map_480.png" alt="">
            <img class="section_map_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/6_south_america/south_america_map_624.png" alt="">
        </div>

        <p>{{= section_5_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-orange">
            <div class="section_quote_profilephoto">
                <img class="section_quote_profilephoto_mobile" src="{{= pathStatic }}/{{= vocab_dir }}/img/6_south_america/0_599_profile_south_america.jpg" alt="">
                <img class="section_quote_profilephoto_desktop" src="{{= pathStatic }}/{{= vocab_dir }}/img/6_south_america/deborah.jpg" alt="">
            </div>
            <blockquote>
                {{= section_5_blockquote }}
                <cite>{{= section_5_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_5_paragraph_quote }}</p>

        <div class="story-media-small" id="story-media-5-faux-container"></div>
        <div class="story-media-small hidden" id="story-media-5-container"></div>
        <div class="story-media-placeholder" id="story-media-5-placeholder">
            <div class="story-media-video-overlay">
                <button class="story-media-play-button"></button>
                <div class="story-media-title">{{= section_5_video_title }}
                    <div class="story-media-subtitle">{{= section_5_video_subtitle }}</div>
                </div>
            </div>
        </div>

        <p>{{= section_5_paragraph_video }}</p>

        <h3 class="section_summary section_summary-orange">{{= section_5_summary }}</h3>
    </div>
</section>