<section class="section section-southamerica">
    <div class="container">
        <h2 class="section_title">{{= section_5_subtitle }}</h2>
        <img src="http://placehold.it/616x350">

        <p>{{= section_5_paragraph_map }}</p>

        <div class="section_quote section_quote-left section_quote-orange">
            <div class="section_quote_profilephoto"></div>
            <blockquote>
                {{= section_5_blockquote }}
                <cite>{{= section_5_blockquote_credit }}</cite>
            </blockquote>
            <div class="clearfix"></div>
        </div>

        <p>{{= section_5_paragraph_quote }}</p>

        <!-- video -->

        <p>{{= section_5_paragraph_video }}</p>

        <h2>{{= section_5_summary }}</h2>
    </div>
</section>