$debug: false;
$which-env: local;
$scaffold-lite: false;
$project_number: 13329;
$year: 2016;
$image-widths: (320, 640, 1024);
$services-default: english;
$services-others: (french, hausa, indonesia, mundo, persian, somali, ukrainian, vietnamese, chinese_simp, russian, arabic);
