.footer {
	margin-bottom: 32px;
	&_title {
		font-size: 24px;
		font-weight: bold;
		margin: 16px 0 8px;
		.footer_title_smalllink {
			font-size: 12px;
			font-weight: normal;
		}
	}

	&_line {
		&-thin {
			border: none;
			border-top: solid 1px #bdbdbd;
		}
		&-thick {
			border: none;
			border-top: solid 8px #dcdcdc;
			margin: 1.5em 0;
		}
	}

	&_share {
		padding: 0;
		li {
			width: 44px;
			height: 32px;
			display: inline-block;
			margin-right: 8px;
		}
		&_link {
			display: block;
			border: none;
			img {
				height: 100%;
			}
			&-email {
				background-color: #615f5d;
			}
			&-facebook {
				background-color: #3c5a98;
			}
			&-twitter {
				background-color: #47c7fa;
			}
			&-linkedin {
				background-color: #0077b5;
			}
		}
	}

	&_onwardjourney {
		a {
			border: none;
		}
		&_links {
			margin: 0;
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 16px;
			}
			&_link {
				font-size: 16px;
			}
		}
	}
}

.locale {
	&_fr, &_ha, &_id, &_es, &_fa, &_so, &_uk, &_vi, &_zh, &_ru, &_ar {
		.footer_onwardjourney {
			display: none;
		}
	}
}

@include respondMinMax(600px, false) {
	.footer {
		&_onwardjourney {
			&_image {
				width: 50%;
				float: left;
				padding-right: 8px;
			}

			&_links {
				width: 50%;
				float: right;
			}
		}
	}

	.ns_rtl {
		.footer {
			&_onwardjourney {
				&_image {
					float: right;
					padding-right: 0;
					padding-left: 8px;
				}
				&_links {
					float: left;
				}
			}
		}
	}
}