.story-media {
    &-small {
        position: relative;
    }

    &-faux {
        display: none;
    }

    &-placeholder {
        display: none;
    }

    &-video-overlay {
        bottom: 0;
        left: 0;
        position: absolute;
        overflow: hidden;
        z-index: 20;
        &:hover {
            cursor: pointer;
            .story-media-play-button {
                background-color: #c00;
            }
        }
    }

    &-play-button {
        width: 64px;
        height: 64px;
        background-color: #000;
        background-image: url(../img/play_button.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transition: background-color 500ms;
        border: none;
        float: left;
    }

    &-title {
        float: left;
        height: 64px;
        margin-left: 1px;
        background-color: #000;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 8px 16px;
        display: none;
        @include respondMinMax(600px, false) {
            display: block;
        }
    }

    &-subtitle {
        font-size: 14px;
        font-weight: normal;
    }
}

@include respondMinMax(769px, false) {
    .story-media-faux {
        display: block;
    }

    .hidden {
        position: absolute;
        left: -10000px;
        top: auto;
        opacity: 0;
    }
}